# Queen Anne Project

In this lab you will learn to use the SQL CREATE, INSERT, UPDATE and DELETE statements.

In [ ]:
%load_ext sql
%config SqlMagic.autolimit=100
%sql sqlite://

## Create the Customer Table

In the cell below write an SQL create statement to create Queen Anne's customer table. The table is defined the following way:

| Name | Type | Notes | 
| --- | --- | --- | 
| CustomerID | int | Primary Key |
| LastName | varchar(25) |  |
| FirstName | varchar(25) | |
| Address | varchar(35) |  |
| City | varchar(35) |  |
| State | varchar(2) |  |
| ZIP | varchar(10) |  |
| Phone | varchar(12) |  |
| Email | varchar(100) | |

In [ ]:
%%sql

## Insert Data Into the Customer Table

In the cell below insert the following customer data:

| ID | Lastname | FirstName | Address | City | State | ZIP | Phone | Email |
| --- | --- | --- | --- | --- |--- | --- | --- | --- |
| 1 | Shire | Robert | 6225 Evanston Ave N | Seattle | WA | 98103 | 206-524-2433 | Robert.Shire@somewhere.com |
| 2 | Goodyear | Katherine | 7335 11th Ave NE | Seattle | WA | 98105 | 206-524-3544 | Katherine.Goodyear@somewhere.com |
| 3 | Bancroft | Chris | 12605 NE 6th Street | Bellevue | WA | 98005 | 425-635-9788 | Chris.Bancroft@somewhere.com |

In [ ]:
%%sql

## Create The Employee Table

In the cell below use an SQL create statement to make the employee table:

| Name | Type | Notes | 
| --- | --- | --- | 
| EmployeeID | int  | Primary Key |
| LastName | varchar(25) | |
| FirstName | varchar(25) | |
| Phone | varchar(12) | |
| Email | varchar(100) | |

Another

In [ ]:
%%sql

## Insert Employee Data 

In the cell below insert the following data into the employee table: 

| ID | LastName | FirstName | Phone | Email |
| --- | --- | --- | --- | --- | 
| 1 | Stuart | Anne | 206-527-0010 | Anne.Stuart@QACS.com |
| 2 | Stuart | George | 206-527-0011 | George.Stuart@QACS.com |
| 3 | Matera | Mike | 831-555-1212 | Mike.Matera@QACS.com |

In [ ]:
%%sql

## Create the Vendor Table

In the cell below use an SQL create statement to make the vendor table:

| Name | Type | Notes | 
| --- | --- | --- | 
| VendorID | int	 | Primary Key |
| CompanyName | varchar(100) |  |
| ContactLastName | varchar(25) | NOT NULL |
| ContactFirstName | varchar(25) | NOT NULL |
| Address | varchar(35) |  |
| City | varchar(35) |  |
| State | varchar(2) |  |
| ZIP | varchar(10) |  |
| Phone | varchar(12) | NOT NULL |
| Fax | varchar(12) |  |
| Email | varchar(100) |  |

In [ ]:
%%sql

## Insert Vendor Data 

In the cell below insert the following data into the vendor table:

| ID | CompanyName | ContactLastName | ContactFirstName | Address | City | State | ZIP | Phone | Fax | Email | 
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| 1 | Linens and Things | Huntington | Anne | 1515 NW Market Street | Seattle | WA | 98107 | 206-325-6755 | 206-329-9675 | LAT@business.com | 
| 2 | European Specialties | Tadema | Ken | 6123 15th Avenue NW | Seattle | WA | 98107 | 206-325-7866 | 206-329-9786 | ES@business.com |

In [ ]:
%%sql

## Create the Item Table 

In the cell below use an SQL create staement to make the item table: 

| Name | Type | Notes | 
| --- | --- | --- | 
| ItemID | int	 | Primary Key |
| ItemDescription | varchar(255) | NOT NULL |
| PurchaseDate | datetime	 | NOT NULL |
| ItemCost | double | NOT NULL |
| ItemPrice | double | NOT NULL |
| VendorID | int	 | NOT NULL |

In [ ]:
%%sql

## Insert Item Data

Insert the following data into the item table:

| ID | ItemDescription | PurchaseDate | ItemCost | ItemPrice | VendorID |
| --- | --- | --- | --- | --- | --- | 
| 1 | Antique Desk | 2013-11-07 | 1800.00 | 3000.00 | 2 |
| 2 | Antique Desk Chair | 2013-11-10 | 300.00 | 500.00 | 2 |
| 3 | Dining Table Linens | 2013-11-14 | 600.00 | 1000.00 | 1 |
| 4 | Candles | 2013-11-14 | 30.00 | 50.00 | 1 |

In [ ]:
%%sql

## Create the Sale Table 

In the cell below use and SQL create statement to make the sale table:

| Name | Type | Notes | 
| --- | --- | --- | 
| SaleID | int	 | Primary Key |
| CustomerID | int	 | FK - References the Customer Table |
| EmployeeID | int	 | FK - References the Employee Table |
| SaleDate | datetime | NOT NULL |
| SubTotal | double |  |
| Tax | double |  |
| Total | double |  |

In [ ]:
%%sql

## Insert Sale Data 

Insert the following values into the sale table: 

| CustomerID | EmployeeID | SaleDate | SubTotal | Tax | Total |
| --- | --- | --- | --- | --- | --- |
| 1 | 1 | 2013-12-14 | 3500.00 | 290.50 | 3790.50 |
| 2 | 1 | 2013-12-15 | 1000.00 | 83.00 | 1083.00 |

In [ ]:
%%sql

## Create the SaleItem Table

In the cell below use an SQL create statement to make the SaleItem table:

| Name | Type | Notes | 
| --- | --- | --- | 
| SaleID | int | Primary Key, FK - References the Sale Table|
| ItemID | int | Primary Key, FK - References the Item Table |
| ItemPrice | double |  |

In [ ]:
%%sql

## Insert Sale Items 

Complete the sale cells by inserting the following data: 

| SaleID | ItemID | ItemPrice | 
| --- | --- | --- | 
| 1 | 1 | 3000.00 |
| 1 | 2 | 500.00 | 
| 2 | 3 | 1000.00 |

In [ ]:
%%sql

## Changes to the Database

Implement the following changes using the SQL UPDATE or DELETE commands:

 1. Mike Matera gets fired! Remove him from the employee table
 2. The contact information for "Linens and Things" changed. The new contact is "Bob Smith"
 3. Price increases! Make the ItemPrice of everything double the ItemCost

In [ ]:
%%sql

## Query the Data

Write selects for each of your tables. Do they contain what you expect?

In [ ]:
%%sql